
HI {{ employee.firstName }}!!!,

<p>
    Welcome to {{ company.name }}!!! Here at {{ company.name }} we have a great culture! So much so
    that we feel like talking about it all the time. If you feel differently then you suck! You suck
    so much that we will harass and torment you until you cry. Then we'll do it some more until
    you run screaming out the door. That's our goal if you don't love us so much you spend all your
    time here.
</p>

<p>
    You may have other things outside of {{ company.name }}. Like hobbies, television, church, friends,
    family, or your own hopes and dreams. But those are nothing compared to the great {{ company.name|upper }}.
    We have all night Hackathons, company getaways, on-site gyms, on-site laundry, on-site cafeterias, on-site
    birthing facilities, on-site funeral care, and even on-site brainwashing machines. We will control other
    aspects of your life by providing you with a cell phone (iPhone of course), car (leased by you), apartment,
    laptop, and Internet access. We will even bring you to work in the very luxurious company shuttle.
</p>

<p>
    You will never have to leave us! AND YOU NEVER WILL.
</p>

<p>
    You get other stuff here in the office too! Like free Red Bull, Mountain Dew, coffee, a foosball table,
    a pool table, and other stuff. With all this great free stuff you wouldn't need anything else like say
    health insurance, a personal life, a high salary, or any of that dumb stuff. You get FREE RED BULL!!!
</p>

<p>
    You may of heard rumors in the around town, in the media, or from horrible disgusting evil people (ex
    {{ company.name }} escapees) that we have a hostile work environment. They may say things like we're a "cult".
    Or that diverse opinions aren't allowed. Or that we're sexist. Or that the owner MR WONDERFUL THE ONLY
    MAN IN THE WORLD WHOSE FARTS NOT ONLY DON'T STINK BUT CAN CURE CANCER is a raging jerk who cusses our
    anyone for no apparent reason all the time and always wears the same stupid shirt at company presentations.
    They don't know anything. They are not one of us. So they suck. They can be fed to the sharks that reside
    below our secret facility below Area 51.
</p>

<p>
    Anyway, on your first day you'll be given some Kool-Aid to drink. After that there's the mandatory red beanie
    hat you have to wear. All noobs wear that. THEY MUST because they still suck and are not one of us. Then
    you'll sit through a few days of the brain washing and lies about being a part of the team and respected
    and how we will treat you with respect and integrity.
</p>

<p>
    Then there is lunch in our world class cafeteria. The lunch is good. Then you will work on a project
    that was deprecated like five or six years ago and no one uses it. They shouldn't really use it. We don't want
    them to but we have to maintain it for legacy purposes so that's why you're here. You're a world class
    developer here with years of training and expertise who will hopefully one day get to do something
    meaningful here and get paid well. Probably not though.
</p>

<p>
    That's all. Seriously though if you leave us we will use those sharks. In 2003 we got the lasers working.
</p>
